

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.container {
  margin-bottom: 2rem;
}
.hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  background-image: url('/images/redabstract.jpg');
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
  text-align: center;
  position: relative;
}

.hero-text {
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-text {
  color: #c4302b;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 8px rgba(196, 48, 43, 0.8);
  margin-bottom: 1rem;
}

.lead {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.search-box {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.input-group .form-control {
  height: 50px;
  font-size: 1.2rem;
}

.input-group .btn-primary {
  height: 50px;
  font-size: 1.2rem;
}

.container {
  margin-bottom: 2rem;
}

.search-box {
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
}

h1 {
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.alert {
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.spinner-border {
  border-color: #c4302b !important;
  border-right-color: transparent !important;
}

.header-text {
  color: #c4302b;
  text-shadow: 0 0 8px rgba(196, 48, 43, 0.8);
}

.btn-primary {
  background-image: linear-gradient(45deg, #c4302b, #a52a23);
  border-color: #c4302b;
  box-shadow: 0 0 8px rgba(196, 48, 43, 0.8);
}

.btn-primary:hover {
  background-image: linear-gradient(45deg, #a52a23, #c4302b);
  border-color: #a52a23;
}

.main-content {
  background-color: #1a1a1a;
  min-height: 100vh;
  padding: 2rem 0;
}

.alert-custom {
  background-color: #c4302b;
  color: #ffffff;
}


/* Add the following CSS rule for hover effect on summary items */
.summary-item:hover .summary-text {
  color: #c4302b;
}
.summary-item {
  background-color: #1c1c1c;
  border: 1px solid #373737;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.summary-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
}

.summary-text {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #f5f5f5;
}

.text-metallic {
  color: #c4302b;
}

.progress-bar {
  background-image: linear-gradient(45deg, #c4302b, #a52a23);
}

.tabs-container {
  display: flex;
  align-items: stretch;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tab {
  padding: 12px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #f0f0f0; /* Change the background color to a lighter shade */
  color: #6c757d; /* Change the text color to a darker shade */
  text-align: center;
  transition: all 0.3s ease; /* Add a transition effect for smooth color changes */
}

.tab:hover {
  background-color: #e0e0e0; /* Change the background color when hovering */
}

.tab.active {
  background-color: #c4302b;
  color: white;
}

.tab-content {
  flex-grow: 1;
  padding-left: 20px;
}

/* YouTube Metallic Colors */
:root {
  --yt-red: #c4302b;
  --yt-light-red: #ff5252;
  --yt-dark-red: #c90000;
  --dark-bg: #121212;
  --dark-card-bg: #1e1e1e;
  --dark-text: #e0e0e0;
}

/* Video Title List */
.latest-videos {
  background-color: var(--dark-card-bg);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin-top: 2rem;
}

.latest-videos-title {
  color: var(--yt-red);
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 0 0 8px rgba(196, 48, 43, 0.8);
}

.latest-videos-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.latest-videos-item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #2b2b2b;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s ease;
}

/* .latest-videos-item:hover {
  background-color: var(--yt-light-red);
  color: #fff;
} */

.latest-videos-item a {
  color: #ff0000;
  text-decoration: none;
}

.latest-videos-item a:hover {
  color: #c4302b;
  text-decoration: underline;
}

.latest-videos-item:hover {
  background-color: rgba(255, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.latest-videos-item:hover a {
  color: #ff0000;
}


.thumbnail-container {
  position: relative;
}

.thumbnail-preview {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  border: 2px solid var(--dark-text);
  border-radius: 5px;
  margin-top: 5px;
}

.thumbnail {
  width: 48px;
  height: 36px;
  border-radius: 3px;
}

.latest-videos-item:hover .thumbnail-preview {
  display: block;
}